.App {
  text-align: center;
}

.header a {
  text-decoration: none;
  margin-right: 20px;
  padding: 4px;
}

.header a:hover {
  background-color: aqua;
}

.friends-parent {
  display: flex;
  flex-wrap: wrap;
}

.friend {
  flex: 1 0 25%;
  background-color: beige;
  border: 2px solid aqua;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
}

.friend a:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.friend_details {
  text-align: left;
  border: 5px solid teal;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
  height: auto;
}

.post {
  flex: 1 0 25%;
  border: 2px solid plum;
  margin: 20px;
  border-radius: 20px;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
}

.post > button {
  cursor: pointer;
}

.post > button:hover {
  background-color: tomato;
}

.active {
  background-color: aquamarine;
}

